.edit-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.edit-card input{
    border-radius: 5px;
    border: none;
    width:285px;
    height: 40px;
}
.edit-card .text{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.edit-card .text p{
    margin-top: 0;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}
.text .save{
    background-color: chartreuse;
}
.text .delete{
    background-color: red;
}
.text .cancel{
    background-color: white;
}