.list{
    background-color:#dfe3e6;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
    height: fit-content;
    position: relative;
}

.list .title{
    display: flex;
    justify-content:space-between;
}
.list .menu{
    width: 30px;
    cursor: pointer;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 10px;
}
.menu .button{
    width: 30px;
    height: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list .menu:hover{
    background-color: #c0c0c0;
}
.list h3{
    padding: 10px;
    margin: 3px;
    word-wrap: break-word;
    width: 230px;
}
.menu-list{
    z-index: 2;
    height: fit-content;
    position: absolute;
    left: 110px;
    top: 30px;
}
.card-list{
    min-height: 20px;
}
.add-card{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 5px 0;
    cursor: pointer;
    color: #6b808c;
}