.menus{
    background-color: white;
    height: fit-content;
    width: 170px;
    padding: 5px;
    border: 1px solid black;
}
.menus .change{
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
}
.menus .change:hover{
    background-color:#dfe3e6;
}
.fa-pen{
    height: 20px;
}
.menus .remove{
    display: flex;
    align-items: center;
    height: 30px;
    cursor: pointer;
}
.menus .remove:hover{
    background-color:#dfe3e6;
}